CODE FOR PREDICTING TIME FOR BREAK

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

In [35]:
data=pd.read_csv(r'C:\Users\LENOVO\Downloads\Book1.csv')
data

   Period  Total Hours  Age  BREAKS IN MINS /HOUR OF STUDY
0     Day            7   15                             11
1   Night            8   24                             14
2     Day            1   13                              4
3   Night            7   19                             12
4   Night            7   24                             13
5     Day            5   45                             16
6   Night            2   14                              5
7   Night            6   30                             13
8     Day            7   21                             12
9   Night            4   23                              9
10  Night            7   19                             12
11  Night            5   20                             10
12    Day            6   42                             16
13  Night            2   50                             14
14  Night            8   22                             13
15  Night            7   27                             14
16    Day            5   39                             14
17  Night            7   45                             18
18    Day            6   12                              9
19    Day            7   23                             13
20    Day            4   33                             12
21  Night            5   44                             16
22    Day            2   23                              7
23    Day            7   56                             21
24  Night            6   16                             10
25  Night            8   20                             13
26    Day            3   46                             14
27  Night            7   16                             11
28  Night            5   22                             10
29    Day            2   48                             14
30  Night            7   24                             13
31  Night            5   16                              9
32    Day            6   19                             11
33  Night            7   21                             12
34    Day            6   23                             12
35  Night            8   19                             13
36  Night            8   20                             13
37    Day            8   21                             13
38  Night            4   34                             12
39    Day            6   29                             13

In [36]:
x=data.drop("BREAKS IN MINS /HOUR OF STUDY",axis=1)
x

   Period  Total Hours  Age
0     Day            7   15
1   Night            8   24
2     Day            1   13
3   Night            7   19
4   Night            7   24
5     Day            5   45
6   Night            2   14
7   Night            6   30
8     Day            7   21
9   Night            4   23
10  Night            7   19
11  Night            5   20
12    Day            6   42
13  Night            2   50
14  Night            8   22
15  Night            7   27
16    Day            5   39
17  Night            7   45
18    Day            6   12
19    Day            7   23
20    Day            4   33
21  Night            5   44
22    Day            2   23
23    Day            7   56
24  Night            6   16
25  Night            8   20
26    Day            3   46
27  Night            7   16
28  Night            5   22
29    Day            2   48
30  Night            7   24
31  Night            5   16
32    Day            6   19
33  Night            7   21
34    Day            6   23
35  Night            8   19
36  Night            8   20
37    Day            8   21
38  Night            4   34
39    Day            6   29

In [45]:
from sklearn.preprocessing import LabelEncoder
label_encoder =LabelEncoder() 
x['Period']=label_encoder.fit_transform(x['Period'])
x['Period'].unique()
x

    Period  Total Hours  Age
0        0            7   15
1        1            8   24
2        0            1   13
3        1            7   19
4        1            7   24
5        0            5   45
6        1            2   14
7        1            6   30
8        0            7   21
9        1            4   23
10       1            7   19
11       1            5   20
12       0            6   42
13       1            2   50
14       1            8   22
15       1            7   27
16       0            5   39
17       1            7   45
18       0            6   12
19       0            7   23
20       0            4   33
21       1            5   44
22       0            2   23
23       0            7   56
24       1            6   16
25       1            8   20
26       0            3   46
27       1            7   16
28       1            5   22
29       0            2   48
30       1            7   24
31       1            5   16
32       0            6   19
33       1            7   21
34       0            6   23
35       1            8   19
36       1            8   20
37       0            8   21
38       1            4   34
39       0            6   29

In [40]:
y=data['BREAKS IN MINS /HOUR OF STUDY']
y

0     11
1     14
2      4
3     12
4     13
5     16
6      5
7     13
8     12
9      9
10    12
11    10
12    16
13    14
14    13
15    14
16    14
17    18
18     9
19    13
20    12
21    16
22     7
23    21
24    10
25    13
26    14
27    11
28    10
29    14
30    13
31     9
32    11
33    12
34    12
35    13
36    13
37    13
38    12
39    13
Name: BREAKS IN MINS /HOUR OF STUDY, dtype: int64

In [41]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [42]:
RDF=RandomForestClassifier()
RDF.fit(x,y)

RandomForestClassifier()

In [43]:
RDF.score(x,y)

1.0

In [47]:
RDF.predict([[1,5,20]])

D:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([10], dtype=int64)

In [48]:
print(RDF.predict([[1,5,20]]))

[10]

D:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [64]:
def predictions():
    period=input("ENTER YOUR STUDY TIME : DAY OR NIGHT : ")
    hours=int(input("ENTER TOTAL HOURS TO STUDY:"))
    age=int(input("ENTERS YOUR AGE:"))
    if(period=="DAY"):
        print(RDF.predict([[0,hours,age]])[0],"minutes of break is required after each hour of study")
    else:
        print(RDF.predict([[1,hours,age]])[0], "minutes of break is required after each hour of study")

In [65]:
predictions()

ENTER YOUR STUDY TIME : DAY OR NIGHT :  NIGHT
ENTER TOTAL HOURS TO STUDY: 7
ENTERS YOUR AGE: 19

12 minutes of break is required after each hour of study

D:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(